<div class="container">
  <div class="description">
    <h3>Accomplished tasks:</h3>
  </div>
</div>

<div class="list">
<!-- 
  <ng-container *ngIf="tasks$ | async as tasks"> -->

    <ul>
      <li *ngFor="let task of tasks">
        <div *ngIf="task.status === true">
          
          <span>{{task.description}}</span>
          <span><input type="checkbox" (change)="sendTaskForUnmarking(task)" checked/></span>
          <span><button (click)="sendTaskForDeleting(task)">x</button></span>

        </div>
      </li>
    </ul>

  <!-- </ng-container> -->

</div>