<div class="baddy">

  <div class="top">
    <div class="profile">
      <img src="../../assets/edited.jpg" alt="profile" />
    </div>

    <nav>
      <a href="#about">About</a>
      <a href="#projects">Projects</a>
      <a href="#contact">Contact</a>
    </nav>
  </div>

  <div id="about">
    <video src="../assets/HTML 5 Video.mp4" controls></video>
  </div>


  <div id="projects">
    <p>here are the projects</p>
  </div>


  <div id="contact">
    <a href="mailto:aizhana.kamalova@gmail.com">Contact me</a>
  </div>


</div>