
    <nav>
        <a href="">Home</a>
        <a href="">About</a>
        <a href="">Visit</a>
        <a href="">Contact</a>
    </nav>


    <main>
        <section>
            <header>
                <h1> [ɯsɯqkœl]</h1>
                <img src="/assets/issykul.jpg" alt="Issykkul" />
            </header>
        </section>

        <div class="floating">

            <div class="container-zero">

                <p><span>Issyk-Kul Lake</span> is 182 kilometres (113 mi) long,
                    up to 60 kilometres (37 mi) wide, and its area is 6,236 square
                    kilometres (2,408 sq mi). It is the second-largest mountain lake in the world behind Lake Titicaca #
                    in South America. It is at an altitude of 1,607 metres (5,272 ft), and reaches 668 metres (2,192 ft)
                    in depth. About 118 rivers and streams flow into the lake; the largest are the Djyrgalan and Tyup.
                    It is
                    fed
                    by
                    springs, including many hot springs, and snow melt. The lake has no current outlet, but some
                    hydrologists
                    hypothesize that the lake's water filters deep underground into the Chu River.The lake's southern
                    shore
                    is dominated by the ruggedly beautiful <span>Teskey Ala-Too Range of the Tian Shan mountains</span>.
                    <span>The Kungey Alatau of the Tian Shan</span> runs parallel to the north shore.
                    Administratively, the lake and the adjacent land are within Issyk-Kul Region of Kyrgyzstan.
                    <br /> Here you can watch a short video on <a href="https://www.youtube.com/watch?v=WFJvldRtpIY"
                        target="_blank">Kyrgyzstan</a>.<br />More about the right pronunciation of the Issykkul,
                    you can find <a href="https://en.wikipedia.org/wiki/Help:IPA" target="_blank">here</a>.</p>

            </div>

            <div class="container-one">

                <p>Issyk-Kul Lake was a stopover on the Silk Road, a land route for travelers from the
                    Far East to Europe. The
                    great
                    Chinese Buddhist scholar-monk Xuanzang passed by this lake and noted the details in the classic
                    travelogue
                    Great
                    Tang Records on the Western Regions in the 7th century. The Lake was once owned by the Qing Dynasty
                    of
                    China
                    and
                    was ceded to Russia – along with the surrounding territory – after the Treaty of Tarbagatai. </p>
            </div>

            <div class="container-two">

                <ul>
                    <li>About 118 rivers and streams flow into the lake</li>
                    <li>It is the second-largest mountain lake in the world </li>
                    <li>It is just a beauty</li>
                </ul>
            </div>


            <div class="container-three">

                <ol>
                    <li>I have spent my childhood there</li>
                    <li>It is the most peaceful and serene early in the morning</li>
                    <li>At times it has some crazy beautiful white fluffy clouds that are best to watch floating on your
                        back
                    </li>
                </ol>
            </div>
        </div>

    </main>

    <footer>
        <p>Created by A. Kamalova</p>
        <p>Contact information: <a href="mailto:aizhana.kamalova@gmail.com">aizhana.kamalova@gmail.com</a></p>
    </footer>

    <router-outlet></router-outlet>
