<div class="chessboard">

  <div class="line">
      <div class="side-bar row-numbers">
          <div class="number">8</div>
      </div>
      <div class="white-square square">
          <div class="black-rook figure">♜</div>
      </div>
      <div class="black-square square">
          <div class="black-knight figure">♞</div>
      </div>
      <div class="white-square square">
          <div class="black-bishop figure">♝</div>
      </div>
      <div class="black-square square">
          <div class="black-queen figure">♛</div>
      </div>
      <div class="white-square square">
          <div class="black-king figure">♚</div>
      </div>
      <div class="black-square square">
          <div class="black-bishop figure">♝</div>
      </div>
      <div class="white-square square">
          <div class="black-knight figure">♞</div>
      </div>
      <div class="black-square square">
          <div class="black-rook figure">♜</div>
      </div>
  </div>

  <div class="line">
      <div class="side-bar row-numbers">
          <div class="number">7</div>
      </div>
      <div class="black-square square">
          <div class="black-pawn figure">♟</div>
      </div>
      <div class="white-square square">
          <div class="black-pawn figure">♟</div>
      </div>
      <div class="black-square square">
          <div class="black-pawn figure">♟</div>
      </div>
      <div class="white-square square">
          <div class="black-pawn figure">♟</div>
      </div>
      <div class="black-square square">
          <div class="black-pawn figure">♟</div>
      </div>
      <div class="white-square square">
          <div class="black-pawn figure">♟</div>
      </div>
      <div class="black-square square">
          <div class="black-pawn figure">♟</div>
      </div>
      <div class="white-square square">
          <div class="black-pawn figure">♟</div>
      </div>
  </div>

  <div class="line">
      <div class="side-bar row-numbers">
          <div class="number">6</div>
      </div>
      <div class="white-square square">
          <div class="figure"></div>
      </div>
      <div class="black-square square">
          <div class="figure"></div>
      </div>
      <div class="white-square square">
          <div class="figure"></div>
      </div>
      <div class="black-square square">
          <div class="figure"></div>
      </div>
      <div class="white-square square">
          <div class="figure"></div>
      </div>
      <div class="black-square square">
          <div class="figure"></div>
      </div>
      <div class="white-square square">
          <div class="figure"></div>
      </div>
      <div class="black-square square">
          <div class="figure"></div>
      </div>
  </div>

  <div class="line">
      <div class="side-bar row-numbers">
          <div class="number">5</div>
      </div>
      <div class="black-square square">
          <div class="figure"></div>
      </div>
      <div class="white-square square">
          <div class="figure"></div>
      </div>
      <div class="black-square square">
          <div class="figure"></div>
      </div>
      <div class="white-square square">
          <div class="figure"></div>
      </div>
      <div class="black-square square">
          <div class="figure"></div>
      </div>
      <div class="white-square square">
          <div class="figure"></div>
      </div>
      <div class="black-square square">
          <div class="figure"></div>
      </div>
      <div class="white-square square">
          <div class="figure"></div>
      </div>
  </div>

  <div class="line">
      <div class="side-bar row-numbers">
          <div class="number">4</div>
      </div>
      <div class="white-square square">
          <div class="figure"></div>
      </div>
      <div class="black-square square">
          <div class="figure"></div>
      </div>
      <div class="white-square square">
          <div class="figure"></div>
      </div>
      <div class="black-square square">
          <div class="figure"></div>
      </div>
      <div class="white-square square">
          <div class="figure"></div>
      </div>
      <div class="black-square square">
          <div class="figure"></div>
      </div>
      <div class="white-square square">
          <div class="figure"></div>
      </div>
      <div class="black-square square">
          <div class="figure"></div>
      </div>
  </div>

  <div class="line">
      <div class="side-bar row-numbers">
          <div class="number">3</div>
      </div>
      <div class="black-square square">
          <div class="figure"></div>
      </div>
      <div class="white-square square">
          <div class="figure"></div>
      </div>
      <div class="black-square square">
          <div class="figure"></div>
      </div>
      <div class="white-square square">
          <div class="figure"></div>
      </div>
      <div class="black-square square">
          <div class="figure"></div>
      </div>
      <div class="white-square square">
          <div class="figure"></div>
      </div>
      <div class="black-square square">
          <div class="figure"></div>
      </div>
      <div class="white-square square">
          <div class="figure"></div>
      </div>
  </div>

  <div class="line">
      <div class="side-bar row-numbers">
          <div class="number">2</div>
      </div>
      <div class="white-square square">
          <div class="white-pawn figure">♙</div>
      </div>
      <div class="black-square square">
          <div class="white-pawn figure">♙</div>
      </div>
      <div class="white-square square">
          <div class="white-pawn figure">♙</div>
      </div>
      <div class="black-square square">
          <div class="white-pawn figure">♙</div>
      </div>
      <div class="white-square square">
          <div class="white-pawn figure">♙</div>
      </div>
      <div class="black-square square">
          <div class="white-pawn figure">♙</div>
      </div>
      <div class="white-square square">
          <div class="white-pawn figure">♙</div>
      </div>
      <div class="black-square square">
          <div class="white-pawn figure">♙</div>
      </div>

  </div>

  <div class="line">
      <div class="side-bar row-numbers">
          <div class="number">1</div>
      </div>
      <div class="black-square square">
          <div class="white-rook figure">♖</div>
      </div>
      <div class="white-square square">
          <div class="white-knight figure">♘</div>
      </div>
      <div class="black-square square">
          <div class="white-bishop figure">♗</div>
      </div>
      <div class="white-square square">
          <div class="white-queen figure">♕</div>
      </div>
      <div class="black-square square">
          <div class="white-king figure">♔</div>
      </div>
      <div class="white-square square">
          <div class="white-bishop figure">♗</div>
      </div>
      <div class="black-square square">
          <div class="white-knight figure">♘</div>
      </div>
      <div class="white-square square">
          <div class="white-rook figure">♖</div>
      </div>

  </div>

  <div class="column-letters">
      <div class="side-bar corner">
          <div class="number"></div>
      </div>
      <div class="side-bar letter">
          <div>A</div>
      </div>
      <div class="side-bar letter">
          <div>B</div>
      </div>
      <div class="side-bar letter">
          <div>C</div>
      </div>
      <div class="side-bar letter">
          <div>D</div>
      </div>
      <div class="side-bar letter">
          <div>E</div>
      </div>
      <div class="side-bar letter">
          <div>F</div>
      </div>
      <div class="side-bar letter">
          <div>G</div>
      </div>
      <div class="side-bar  letter">
          <div>H</div>
      </div>
  </div>

</div>

